@import url('./styles/colors.css');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--Dark-Slate-Grey);
  font-family: 'Roboto', sans-serif; /* Aplicar Roboto a todo el documento */
  font-size: 16px;
}